# Diretório de build do Maven
/target/

# Arquivos compilados
*.class

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp

# Configurações do VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de IDEs (caso use IntelliJ ou Eclipse ocasionalmente)
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
.settings/

# Arquivos de pacotes
*.jar
*.war
*.ear